/* .wrapper {
    background-color: smoke;
} */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    padding: 5px;
}

.header .header__title {
    text-align: center;
}

.app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.widget {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    max-width: 500px;
    min-width: 150px;
}

.widget .widget__form {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-row-gap: 10px;
    margin: 10px 0;
}

.widget .widget__form .form__label {
    text-align: right;
    padding-right: 10px;
}

.widget .widget__input[type="number"] {
    width: 3em;
}
